#sobre {
    background-color: #808080;
    color: #000000;
    flex-direction: column;
}

h1,
h2,
h3,
h4 {
    font-family: 'Josefin Sans', sans-serif;
}

p {
    font-family: 'Oxygen', sans-serif;
}

#sobre {
    display: flex;
}

#sobre h1 {
    font-size: 50px;
    margin-top: 5%;
    margin-bottom: 2%;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

#sobre p {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    font-size: 20px;
    text-align: justify;
}